name: Create Release
on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build_tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: cargo run -- --container-cmd=docker --create-release $GITHUB_REF_NAME
        env:
          GH_TOKEN: ${{ github.token }}
